<nav class="tk-nav">
    <div class="tk-nav__items">
        <div class="tk-nav__left-items">
            <div class="tk-nav__item tk-nav__item--fix-top">
                <a href="javascript:void(0)" class="tk-link tk-link--default tk-nav__logo">
                    <img src="/assets/img/origin-logo.svg" alt="Origin - Logo">
                </a>
            </div>
        </div>
        <div class="tk-nav__right-items">
            <div class="tk-nav__item">
                <a href="javascript:void(0)" class="tk-link tk-link--primary tk-link--small" (click)="changeToDarkMode()">
                    Dark mode
                </a>
            </div>
            <div class="tk-nav__item">
                <a href="javascript:void(0)" class="tk-link tk-link--primary tk-link--small" (click)="changeToLightMode()">
                    Light mode
                </a>
            </div>
        </div>
    </div>
</nav>
